<div class = board>
  <div class=col>
<!--    <div [ngClass]="['port', 'port1', portList[4]]"></div>-->
<!--    <div [ngClass]="['port', 'port2', portList[5]]"></div>-->
  </div>
  <div class=col>
    <div [ngClass]="['hex', hexType]" *ngFor="let hexType of hexList.slice(0,3)">
      <span [ngClass]="[probabilityRequired(), getProbability()]"></span>
    </div>
<!--    <div [ngClass]="['port', 'port3', portList[6]]"></div>-->
  </div>
  <div class=col>
<!--    <div [ngClass]="['port', 'port4', portList[3]]"></div>-->
    <div [ngClass]="['hex', hexType]" *ngFor="let hexType of hexList.slice(3,7)">
      <span [ngClass]="[probabilityRequired(), getProbability()]"></span>
    </div>
  </div>
  <div class=col>
    <div [ngClass]="['hex', hexType]" *ngFor="let hexType of hexList.slice(7,12)">
      <span [ngClass]="[probabilityRequired(), getProbability()]"></span>
    </div>
<!--    <div [ngClass]="['port', 'port5', portList[7]]"></div>-->
  </div>
  <div class=col>
<!--    <div [ngClass]="['port', 'port6', portList[2]]"></div>-->
    <div [ngClass]="['hex', hexType]" *ngFor="let hexType of hexList.slice(12,16)">
      <span [ngClass]="[probabilityRequired(), getProbability()]"></span>
    </div>
  </div>
  <div class=col>
    <div [ngClass]="['hex', hexType]" *ngFor="let hexType of hexList.slice(16,19)">
      <span [ngClass]="[probabilityRequired(), getProbability()]"></span>
    </div>
<!--    <div [ngClass]="['port', 'port8', portList[8]]"></div>-->
  </div>
  <div class=col>
<!--    <div [ngClass]="['port', 'port9', portList[1]]"></div>-->
<!--    <div [ngClass]="['port', 'port10', portList[0]]"></div>-->
  </div>
</div>
