.board {
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
  justify-content: center;
  min-width: 640px;
  /*flex-wrap: nowrap;*/
  padding-top:10px;
  /*position: relative;*/
}

.col {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  max-width: 119px;
  position: relative;
}

.hex {
  display: flex;
  position: relative;
  background-size: cover;
  background-position: left;
  width: 140px;
  height: 154px;
  margin-top: -11px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.wheat1 {
  background-image: url("../../assets/tiles/wheat_1.png");
}

.wheat2 {
  background-image: url("../../assets/tiles/wheat_1.png");
}

.wheat3 {
  background-image: url("../../assets/tiles/wheat_2.png");
}

.wheat4 {
  background-image: url("../../assets/tiles/wheat_2.png");
}

.brick1 {
  background-image: url("../../assets/tiles/brick_1.png");
}

.brick2 {
  background-image: url("../../assets/tiles/brick_1.png");
}

.brick3 {
  background-image: url("../../assets/tiles/brick_2.png");
}

.sheep1 {
  background-image: url("../../assets/tiles/sheep_1.png");
}

.sheep2 {
  background-image: url("../../assets/tiles/sheep_1.png");
}

.sheep3 {
  background-image: url("../../assets/tiles/sheep_2.png");
}

.sheep4 {
  background-image: url("../../assets/tiles/sheep_2.png");
}

.wood1 {
  background-image: url("../../assets/tiles/wood_1.png");
}

.wood2 {
  background-image: url("../../assets/tiles/wood_1.png");
}

.wood3 {
  background-image: url("../../assets/tiles/wood_2.png");
}

.wood4 {
  background-image: url("../../assets/tiles/wood_2.png");
}

.ore1 {
  background-image: url("../../assets/tiles/ore_1.png");
}

.ore2 {
  background-image: url("../../assets/tiles/ore_1.png");
}

.ore3 {
  background-image: url("../../assets/tiles/ore_2.png");
}

.desert1 {
  background-image: url("../../assets/tiles/desert_1.png");
}

.circle{
  height: 45px;
  width: 45px;
  background-color: #eadcb8;
  border-radius: 50%;
  margin-left: 46px;
  margin-top: 53px;

  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.blank{
  display: none;
}

.probability2:before {
  content: "2";
  margin-left: 16px;
  margin-top: 6px;
  font-size: 28px;
  display: inline-block;
}

.probability3:before {
  content: "3";
  margin-left: 16px;
  margin-top: 6px;
  font-size: 28px;
  display: inline-block;
}

.probability4:before {
  content: "4";
  margin-left: 16px;
  margin-top: 6px;
  font-size: 28px;
  display: inline-block;
}

.probability5:before {
  content: "5";
  margin-left: 16px;
  margin-top: 6px;
  font-size: 28px;
  display: inline-block;
}

.probability6:before {
  content: "6";
  margin-left: 16px;
  margin-top: 6px;
  font-size: 28px;
  color: #d24e3f;
  display: inline-block;
}

.probability8:before {
  content: "8";
  margin-left: 16px;
  margin-top: 6px;
  font-size: 28px;
  color: #d24e3f;
  display: inline-block;
}

.probability9:before {
  content: "9";
  margin-left: 16px;
  margin-top: 6px;
  font-size: 28px;
  display: inline-block;
}

.probability10:before {
  content: "10";
  margin-left: 8px;
  margin-top: 6px;
  font-size: 28px;
  display: inline-block;

}

.probability11:before {
   content: "11";
   margin-left: 9px;
   margin-top: 6px;
   font-size: 28px;
   display: inline-block;
 }

.probability12:before {
  content: "12";
  margin-left: 8px;
  margin-top: 6px;
  font-size: 28px;
  display: inline-block;
}

.port {
  display: flex;
  position: relative;
  background-size: cover;
  /*background-position: left;*/
  width: 37px;
  height: 44px;
  margin-top: -11px;
  clip-path: polygon(49% 0, 100% 37%, 100% 100%, 0 100%, 0 16%);
  z-index: 5;
}

.port1{
  -webkit-transform: rotate(-61deg);
  -moz-transform: rotate(-61deg);
  -ms-transform: rotate(-61deg);
  -o-transform: rotate(-61deg);
  transform: rotate(-61deg);
  margin-bottom:205px;
  margin-left: 91px;
}
.port2{
  -webkit-transform: rotate(-61deg);
  -moz-transform: rotate(-61deg);
  -ms-transform: rotate(-61deg);
  -o-transform: rotate(-61deg);
  transform: rotate(-120deg);
  margin-bottom: 175px;
  margin-left: 92px;
}
.port3{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  /*margin-bottom: 175;*/
  margin-left:52px;
  margin-top: -4px;
}
.port4{}
.port5{}
.port6{}
.port7{}
.port8{}
.port9{}
.port10{}

.sheep {
  background-image: url("../../assets/ports/sheep.png");
}

.brick {
  background-image: url("../../assets/ports/brick.png");
}

.wood {
  background-image: url("../../assets/ports/wood.png");
}

.misc {
  background-image: url("../../assets/ports/3to1.png");
}

.ore {
  background-image: url("../../assets/ports/ore.png");
}

.wheat {
  background-image: url("../../assets/ports/wheat.png");
}

.probabilitydesert:before {
  margin-left: 16px;
  margin-top: 6px;
  font-size: 28px;
  display: inline-block;
}